$header-font-family: 'Raleway', sans-serif;
$font-family: 'Open Sans', sans-serif;

$font-color: #000;
$btn_color: #b5a263;;
$btn_hover: #d6c075;
$head_color: #232323;;
$title_color: #24282f;

$breakpoints: (
        "phone-small":  320px,
        "phone":        480px,
        "phone-wide":   560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);