footer.footer
    .footer-top
        .container
            .footer__list
                .footer-top__item.about
                    h3.footer-top__head ABOUT FAPOR
                    p.footer-top__info We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.
                .footer-top__item.contacts
                    h3.footer-top__head Contact INFO
                    .address-bl
                        span.address PO Box 17122 Nollins Street
                        span.address 5034 Los Angelos
                    a(href='+380956678421').contact Phone: 0956678421
                    a(href='support@fapor.com').contact Email: support@fapor.com
                    a(href='fapor.com').contact Web: fapor.com
                .footer-top__item.form
                    h3.footer-top__head Subscribe to our newsletter
                    form.footer__form#myform
                        .form__field
                            input.field(type='email' placeholder='Enter your email address' required)
                        button.form__btn SUBSCRIBLE NOW
    .footer-bootom
        .container
            .footer__list
                p.copiright © 2016  Fapor by Respotheme
                .socials.footer__socials
                    +socials('#','icon-facebook','social-icon')
                    +socials('#','icon-twitter','social-icon')
                    +socials('#','icon-gplus','social-icon')
                    +socials('#','icon-dribbble','social-icon')



