include ../helpers/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/libs.min.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway:500,600,700', rel='stylesheet')
        link(rel="stylesheet" href="css/styles.css")
        block title
        title #{pageTitle}



    body
        block header
            include ../sections/header

        block main

        block footer
            include ../sections/footer

    //vendor-js
    script(src="js/libs.min.js")
    //main-js
    script(src="js/main.min.js")